body {
    margin: 0;
    min-height: 100vh;
    background-color: #161922;
    color: #e8e8e8;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin: 30px 0;
    color: #61dafb;
    font-family: monospace;
    letter-spacing: 4px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.start_ui,
.game_info {
    width: 170px;
    padding: 16px;
    background-color: #252a40;
    border: 3px solid #f2b84b;
    text-align: left;
}


#playfield {
    width: 350px;
    height: 700px;
    border: 3px solid #f2b84b;
    background-color: #10131b;

    background-image:
            linear-gradient(#282d39 1px, transparent 1px),
            linear-gradient(90deg, #282d39 1px, transparent 1px);
    background-size: 35px 35px;
}

/* Kiểu dáng chung cho các nút */
.game_button {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border: 0;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

/* Màu riêng của từng nút */
#start_button {
    background-color: #61dafb;
}

#stop_button {
    background-color: crimson;
    color: white;
}

#restart_button {
    background-color: gold;
}
.left_panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nextBox_ui {
    width: 170px;
    padding: 16px;
    border: 3px solid #f2b84b;
    text-align: left;
}

.nextBox_ui h3 {
    margin-top: 0;
}
#next_piece {
    width: 180px;
    height: 180px;
    background-color: #10131b;
}